[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "combiroc"]
	path = combiroc
	url = https://github.com/ingmbioinfo/combiroc
	shallow = true
	registered = true
[submodule "SeuratData"]
	path = SeuratData
	url = https://github.com/satijalab/seurat-data
	shallow = true
	registered = false
[submodule "SeuratDisk"]
	path = SeuratDisk
	url = https://github.com/mojaveazure/seurat-disk
	shallow = true
	registered = false
